binds {
    //System Keybinds
    Mod+Q hotkey-overlay-title="Close Window" repeat=false { close-window; }
    Mod+Shift+Slash hotkey-overlay-title="Hotkey Overlay" { show-hotkey-overlay; }
    Mod+O hotkey-overlay-title="Show Overview" repeat=false { toggle-overview; }
    Ctrl+Alt+Delete hotkey-overlay-title="Quit" { quit; }
    Print hotkey-overlay-title="Screenshot-Select" { screenshot; }
    Mod+Space hotkey-overlay-title="Launch Menu" { spawn "fuzzel"; }
    Mod+Escape hotkey-overlay-title="Toggle Keyboard Shortcuts Inhibitor" { toggle-keyboard-shortcuts-inhibit; }
//Application Keybinds
    Mod+Enter hotkey-overlay-title="Open Terminal" { spawn "footclient"; }
    Mod+E hotkey-overlay-title="Open File Browser" { spawn "nemo"; }
    Mod+S hotkey-overlay-title="Open Steam "{ spawn-sh "steam"; }
    Mod+W hotkey-overlay-title="Zen Browser" { spawn-sh "/home/kevin/apps/zen/zen"; }
    Mod+A hotkey-overlay-title="Open Mousepad" { spawn "mousepad"; }
    Mod+Z hotkey-overlay-title="Bazaar Software Manager" { spawn "bazaar"; }
//Audio & Media Keybinds
    // The allow-when-locked=true property makes them work even when the session is locked.
    // Using spawn-sh allows to pass multiple arguments together with the command.
    XF86AudioRaiseVolume hotkey-overlay-title="Volume +" allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
    XF86AudioLowerVolume hotkey-overlay-title="Volume -" allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute hotkey-overlay-title="Mute" allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute hotkey-overlay-title="Mute Mic" allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
    XF86AudioPlay hotkey-overlay-title="Play/Pause" allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop hotkey-overlay-title="Stop" allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev hotkey-overlay-title="Previous Track" allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext hotkey-overlay-title="Next Track " allow-when-locked=true { spawn-sh "playerctl next"; }
//Window Column Management
    Mod+V hotkey-overlay-title="Toggle Window Floating" { toggle-window-floating; }
    Mod+Shift+V hotkey-overlay-title="Switch Focus Between Floating and Tiling" { switch-focus-between-floating-and-tiling; }
    // If the window is alone, they will consume it into the nearby column to the side.
    // If the window is already in a column, they will expel it out.
    Mod+Comma hotkey-overlay-title="Consume or Expel Window Left" { consume-or-expel-window-left; }
    Mod+Period hotkey-overlay-title="Consume or Expel Window Right" { consume-or-expel-window-right; }
    // Switch between stacked and tabbed column
    Mod+T hotkey-overlay-title="Toggle Column Tabbed Display" { toggle-column-tabbed-display; }
    // Cycle through widths set in preset-column-widths.
    Mod+R hotkey-overlay-title="Switch Column Width Preset" { switch-preset-column-width; }
    // Cycling through the presets in reverse order is also possible.
    Mod+Shift+R hotkey-overlay-title="Switch Column Width Preset (Reverse)" { switch-preset-column-width-back; }
    // Cycle through preset windows heights.
    Mod+Ctrl+R hotkey-overlay-title="Switch Window Height Preset" { switch-preset-window-height; }
    // Reset the focused window's height to full column height.
    Mod+Ctrl+Alt+R hotkey-overlay-title="Reset Window Height" { reset-window-height; }
    // Maximize the focused window to fill the entire column.
    Mod+F hotkey-overlay-title="Maximize Column" { maximize-column; }
    // Maximize the focused window to fill the entire monitor.
    Mod+Shift+F hotkey-overlay-title="Fullscreen Window" { fullscreen-window; }
    // Increase or decrease the width of the focused column by 10% of the monitor width.
    Mod+Minus hotkey-overlay-title="Decrease Column Width" { set-column-width "-10%"; }
    Mod+Equal hotkey-overlay-title="Increase Column Width" { set-column-width "+10%"; }
    // Increase or decrease the height of the focused window by 10% of the monitor height.      
    Mod+Shift+Minus hotkey-overlay-title="Decrease Window Height" { set-window-height "-10%"; }
    Mod+Shift+Equal hotkey-overlay-title="Increase Window Height" { set-window-height "+10%"; }
    // Change focus between windows 
    Mod+Left hotkey-overlay-title="Focus Column Left" { focus-column-left; }
    Mod+Right hotkey-overlay-title="Focus Column Right" { focus-column-right; }
    Mod+Up hotkey-overlay-title="Focus Window Up" { focus-window-up; }
    Mod+Down hotkey-overlay-title="Focus Window Down" { focus-window-down; }
    // Change focus to the first or last column in the current workspace, or move the focused column to the first or last position.
    Mod+Home hotkey-overlay-title="Focus Column First" { focus-column-first; }
    Mod+End  hotkey-overlay-title="Focus Column Last" { focus-column-last; }
    // Move the focused window between columns.
    Mod+Ctrl+Left  hotkey-overlay-title="Move Column Left" { move-column-left; }
    Mod+Ctrl+Right hotkey-overlay-title="Move Column Right" { move-column-right; }
    Mod+Ctrl+Down  hotkey-overlay-title="Move Window Down" { move-window-down; }
    Mod+Ctrl+Up    hotkey-overlay-title="Move Window Up" { move-window-up; }
    // Move column to the first or last position of the workspace.
    Mod+Ctrl+Home hotkey-overlay-title="Move Column to First Position" { move-column-to-first; }
    Mod+Ctrl+End  hotkey-overlay-title="Move Column to Last Position" { move-column-to-last; }
    // Change focus between monitors
    Mod+Shift+Left  hotkey-overlay-title="Focus Monitor Left" { focus-monitor-left; }
    Mod+Shift+Right hotkey-overlay-title="Focus Monitor Right" { focus-monitor-right; }
    // Change focus between Workspaces
    Mod+Page_Down hotkey-overlay-title="Focus Workspace Down" { focus-workspace-down; }
    Mod+Page_Up   hotkey-overlay-title="Focus Workspace Up" { focus-workspace-up; }
    // Move the focused column to another monitor.
    Mod+Shift+Ctrl+Left  hotkey-overlay-title="Move Column to Monitor Left" { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Right hotkey-overlay-title="Move Column to Monitor Right" { move-column-to-monitor-right; }
    // Move the focused column to another workspace.
    Mod+Shift+Page_Down hotkey-overlay-title="Move Column to Workspace Down" { move-column-to-workspace-down; }
    Mod+Shift+Page_Up   hotkey-overlay-title="Move Column to Workspace Up" { move-column-to-workspace-up; }
    // Move the focused workspace down or up in the workspace list.
    Mod+Ctrl+Page_Down hotkey-overlay-title="Move Workspace Down" { move-workspace-down; }
    Mod+Ctrl+Page_Up   hotkey-overlay-title="Move Workspace Up" { move-workspace-up; }    
}