spawn-at-startup "flatbar"
spawn-at-startup "mako-notifier"
spawn-at-startup "foot --server"

hotkey-overlay {
    skip-at-startup
}
prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
animations {
    // Uncomment to turn off all animations.
    // off
    // Slow down all animations by this factor. Values below 1 speed them up instead.
    // slowdown 3.0
}
